
/* Navigation */
.nav {
  border: 1px solid #DBDBDB;
  position: sticky; /* 상단 고정 */
  top: 0;
  z-index: 1;
  /* padding-right: 50px; */
  background-color: white;
}
.nav_wrap,
.nav_list,
.button-menu {
  display: flex;
  align-items: center;
}
.nav_wrap {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  height: 80px;
  padding: 0 50px
}
.nav_wrap .logo_resoft{
  margin-left: 120px;
  width: 133px;
}
.nav_wrap>div {
  display: flex;
  height: 100%;
}
/* 네비게이션 아이템, 세부메뉴 아이템 공통 속성 */
.nav_list li {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
/* 네비게이션 아이템에만 적용하는 속성
  (해당 아이템에만 적용하기 위해 .nav_list>li 사용) */
.nav_list>li:not(:last-child) {
  padding-right: 60px;
}
.nav_list>li:last-child {
  padding-right: 108px;
}
/* Navigation - Underline */
.pagelink_underline {
  width: 0;
  height: 6px;
  border-radius: 10px;
  background-color: #184B9F;
  opacity: 0;
  transition-property: width opacity;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}
/* 메뉴에 마우스오버하거나 선택된 메뉴일때(.active) 색을 바꿈 */
.nav_pagelink:hover,
.nav_pagelink.active {
  color: #184B9F;
}
/* 메뉴에 마우스오버하거나 선택된 메뉴일때(.active)
   underline의 너비와 투명도를 100%로 설정 */
.nav_pagelink:hover ~ .pagelink_underline,
.nav_pagelink.active ~ .pagelink_underline {
  width: 100%;
  opacity: 100%;
}
/* Navigation - Button menu */
.button-menu {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.button-menu>img {
  width: 32px;
  height: 32px;
}
/* Navigation - Submenu */
.nav_submenu_background {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgba(24, 75, 159, .7);
  opacity: 0;
  visibility: hidden;
  transition-property: visibility opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  color: white;
  font-size: 20px;
  line-height: 29px;
}
.nav_submenu_background li a {
  color: white;
}
.nav_submenu_background li a:hover {
  color: #538ae4;
}
.submenu_title_wrap {
  height: 50px;
  padding-right: 50px;
  border-bottom: 1px solid white;
  display: none;
  /* border: 1px solid black; */
}
.submenu_title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  font-weight: 500;
}
.submenu_sections {
  display: flex;
  justify-content: flex-end;
  max-width: 1440px;
  margin: 15px auto 0;
  /* padding-right: 50px; */
  padding: 0 50px;
}
.submenu_title li,
.submenu_sections li {
  width: 100%;
  max-width: 134px;
  text-align: left;
}
.submenu_title > li:last-child,
.submenu_sections > li:last-child {
  margin-right: 80px;
}
.submenu_sections_item li {
  /* height: 32px; */
  line-height: 25px;
}

@media screen and (max-width: 1280px) {
  .nav_wrap,
  .submenu_title,
  .submenu_sections {
    max-width: 1000px;
  }
  .nav_wrap .logo_resoft {
    margin-left: 90px;
  }
  .nav_wrap .nav_list>li:last-child {
    padding-right: 60px;
  }
  .submenu_title > li:last-child,
  .submenu_sections > li:last-child {
    margin-right: 32px;
  }
}

@media screen and (max-width: 768px) {

  /* navigation */

  /* .nav,

  .submenu_title_wrap,

  .submenu_sections {

    padding-right: 30px;

  } */
    .nav_wrap {    /* 추가 */
      padding: 0 30px;
  }

  /* Navigation - Submenu */

  .submenu_title_wrap {

    display: block;

  }

  /* 중앙정렬 */

  .submenu_title_wrap,
  .submenu_sections {
    padding: 0;
  }

  .submenu_title,
  .submenu_sections {
    justify-content: center;
  }

  .submenu_title li,
  .submenu_sections li{
    text-align: left;
  }

  .submenu_title li:last-child,
  .submenu_sections li:last-child {
    margin-right: 0;
  }

  .nav_wrap,
  .submenu_title,
  .submenu_sections {
    max-width: 768px;
  }
  .nav_wrap .logo_resoft {
    margin-left: 0;
  }
  .nav_wrap .nav_list {
    display: none;
  }
  .nav_wrap .button-menu {
    margin-left: 0;
  }
  .submenu_sections {    /* 추가 */
      margin-top: 10px;
  }
}
  
/* post section */

.top_container{
    background-image: url(../img/common/header_news.png);
    width:100%;
    /* max-width: 1920px; */
    height: 300px;
}

/* .top_overlay{
    background-color:rgba(24, 75, 159, .7)
} */

.post-section{
    display:grid;
    /* grid-template-columns: 1fr minmax(auto, 600px) 1fr; */
    /* grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 1060px) 1fr; */
    grid-template-columns: 1fr minmax(auto, 1400px) 1fr;
}

@media (min-width:1000px){
    .post-main-div{
        display:grid;
        grid-template-columns: minmax(auto, 300px) minmax(auto, 1060px);
    }
}

.post-article{
    padding-top: 234px;
    max-width: 1060px;
    width: 100%;
}

@media (max-width:1000px){
    .post-article{
        padding-top:50px;
    }
}

.post-title h3{
    font-size: 24px;
    letter-spacing: 1.2px;
}

.post-title {
    margin-bottom: 30px;
}

.post-title .post-title-text{
    margin-bottom: 8px;
}

.post-title .post-date{
    font-size: 16px;
    color: #aaaaaa;
    letter-spacing: 0.8px;
}

.post-line{
    border: 2px solid #184B9F;
}

.post-line-1st{
    margin-bottom:20px;
}

.post-line-2nd{
    margin-bottom: 30px;
}

.post-image{
    max-width:1060px;
}

.post-image img{
    width:100%;
    border-radius: 20px;
}

.post-content{
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 0.8px;
}
.post-content p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-back-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

.post-back-text h2{
    font-size: 40px;
    line-height: 52px;
}

.post-back-text p{
    font-size: 18px;
    color: #c8c8c8
}

.post-back-icon {
    align-items: center;
    height:42px;
    font-size: 16px;
}

.post-back-icon-box {
    width:42px;
    height:42px;
    background-color: #111111;
    border-radius:50% 50%;
    margin-right:20px;
}

.post-back-icon-box img{
    margin: 0 auto;
}

.post-back-icon:hover a{
    color: #184b9f;
    transition:0.5s;
}

.post-back-icon:hover .post-back-icon-box {
    border-color: #184b9f;
    background-color: #184b9f;
    transition:0.5s;
}

.post-prevnext{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.post-prev{
    font-size: 16px;
    /* flex: 1; */
}
.post-next{
    font-size: 16px;
    /* flex: 1; */
}

.post-prevnext-btn{
    width:42px;
    height:42px;
    border: 1px solid #1e1e1e;
    background-color: #ffffff;
    border-radius:50% 50%;
}
.post-prev-icon{
    margin-right: 20px;
}
.post-next-icon{
    margin-left: 20px;
}

.post-prev img{
    margin-top: 3px;
}
.post-next img{
    margin-top: 3px;
}

.post-prev:hover a{
    color: #184b9f;
    transition:0.5s;
}

.post-prev:hover .post-prev-btn{
    border: 1px solid #184b9f;
    background-color: #184b9f;
    transition:0.5s;
}

.post-prev:hover img{
    content:url(../img/icon/ic_prev_wt.png);
    width:20px;
}

.post-next:hover a{
    color: #184b9f;
    transition:0.5s;
}

.post-next:hover .post-next-btn{
    border: 1px solid #184b9f;
    background-color: #184b9f;
    transition:0.5s;
}

.post-next:hover img{
    content:url(../img/icon/ic_next_wt.png);
    width:20px;
}

footer{
    /* margin-top: 200px; */
    height: 250px;
    background-color:#e9e9e9;
    color:#9e9e9e;
    font-size:16px;
}

.footer-content{
    padding-top: 50px;
    display:grid;
    /* grid-template-columns: 1fr auto 150px auto 1fr; */
    grid-template-columns: 1fr auto 1fr;
}

.post-footer-left-top{
    margin-bottom: 30px;
}

.post-footer-right{
    margin-top: 20px;
}

@media (min-width:1000px){
    .post-footer-text{
        display:grid;
        grid-template-columns: auto 21px auto;
    }
    .post-footer-right{
        margin-top: 90px;
    }
}