@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    text-decoration: none;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, 
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


ol, ul {
    list-style: none;
}


div {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
}

#wrap_text {
    text-align: end;
    padding-right: 5%;
}

#wrapper {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 232px 5px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    z-index: 10;
    
}

header #wrapper nav > ul > li > a {
    display: block;
    position: relative;
    width: 160px;
    height: 70px;
    font-size: 20px;
    color: white;
    line-height: 70px;
    text-decoration: none;
    top: 0px;
    z-index: 10;
    text-align: center;
    
}

#wrapper > nav + div {
    position: absolute;
    left: 0;
    top: 85px;
    width: 100%;
    height: 200px;
    background: rgba(24, 75, 159, .7);
    transition: all 0.5s;
    z-index: -1;
}

header #wrapper nav > ul >li {
    display: inline-block;
    position: relative;
}

header #wrapper nav > ul ul li {
    line-height: 25px;
    padding-left: 0px;
}

header #wrapper nav > ul ul a {
    font-size: 20px;
    color: white;
    z-index: 10;
}

header #wrapper nav > ul ul {
    padding-top: 15px;
    position: absolute;
    width: 100%;
    text-align: left;
    height: 230px;
    transition: all 0.5s;
    padding-left: 40px;
}

.img_wrap img{
    width: 133px;
    height: 30px;
}

header >a {
    position: absolute;
    display: flex;
    right: 10%;
    top: 30px;
    width: 50px;
    z-index: 100;
}

header .img_wrap {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 100;
    margin-left: 20%;
    height: 30px;
}

header .display img{
    width: 100%;
    height: 900px;
    filter: opacity(0.8) drop-shadow(0 0 0 rgb(0, 0, 0));
    position: relative;
}

.close{
    opacity: 0; 
    display: none;
}
.more{
    opacity: 1;
}

