@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    text-decoration: none;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, 
output, ruby, section, summary, time, mark, audio, video {
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div {
    display: block;
}

body {
    width: 100%;
    max-width: 100%;
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
}

/* header */
.header{
    width: 100%;
    position: relative;
}

#wrap_text {
    text-align: end;
    padding-right: 5%;
}
#wrap_text a:hover{
    color: #184B9F;
}
#wrapper li::after {
    position: absolute; 
    content:""; 
    display: block; 
    border-bottom: 5px solid #184B9F;
    border-radius: 50px; 
    transition: width 500ms ease-in-out; 
    bottom: 20%;
    left: 25%; 
    width: 0;
}
#wrapper li:hover::after {
    width: 50%;
}


#wrapper {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 232px 5px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    z-index: 10;
    background-color: #FFFFFF;
    
}

header #wrapper nav > ul > li > a {
    display: block;
    position: relative;
    width: 160px;
    height: 70px;
    font-size: 20px;
    color: black;
    line-height: 70px;
    text-decoration: none;
    top: 0px;
    z-index: 10;
    text-align: center;
    
}

#wrapper > nav + div {
    position: absolute;
    left: 0;
    top: 85px;
    width: 100%;
    height: 200px;
    background: rgba(24, 75, 159, .7);
    transition: all 0.5s;
    z-index: -1;
}

header #wrapper nav > ul >li {
    display: inline-block;
    position: relative;
}

header #wrapper nav > ul ul li {
    line-height: 25px;
    padding-left: 0px;
}

header #wrapper nav > ul ul a {
    font-size: 20px;
    color: white;
    z-index: 10;
}

header #wrapper nav > ul ul {
    padding-top: 15px;
    position: absolute;
    width: 100%;
    text-align: left;
    height: 230px;
    transition: all 0.5s;
    padding-left: 40px;
}

.img_wrap img{
    width: 133px;
    height: 30px;
}

header >a {
    position: absolute;
    display: flex;
    right: 10%;
    top: 30px;
    width: 50px;
    z-index: 100;
}

header .img_wrap {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 100;
    margin-left: 20%;
    height: 30px;
}

header .display img{
    margin-top: 80px;
    width: 100%;
    height: 300px;
    filter: opacity(0.8) drop-shadow(0 0 0 rgb(0, 0, 0));
    position: relative;
}
.display h1{
    position: absolute;
    font-size: 40px;
    color: #FFFFFF;
    left:45%;
    top: 50%;
}

.close{
    opacity: 0; 
    display: none;
}
.more{
    opacity: 1;
}


/* section1 */
#resoft{
    position: relative;
    width: 100%;
    height: 856px;
}
.re_text{
    position: absolute;
    left: 15%;
    top: 13%;
}
.re_text h1{
    font-size: 40px;
}
.re_text h2{
    font-size: 18px;
    color: #C8C8C8;
}
.re_text2{
    position: absolute;
    width: 100%;
    height: 500px;
    top: 30%;
}

.re_text2 h1{
    font-size: 24px;
}
.re_text2 h2{
    font-size: 20px;
    color: #959595;
}

.re_tx,.re_tx2,.re_tx3,.re_tx4,.re_tx5,.re_tx6,.re_tx7{
    display: flex;
    border-top: 2px solid #C8C8C8;
    margin: 0 12% 0 15%;
    padding: 22px;
    left: 10%;
}
.re_tx h1,.re_tx2 h1,.re_tx3 h1,.re_tx4 h1,.re_tx5 h1,.re_tx6 h1,.re_tx7 h1{
    display: contents;
    margin-right: 20px;
}
.re_tx7{
    border-bottom: 2px solid #C8C8C8;
}
.re_tx h2{margin-left: 200px;text-align: left;}
.re_tx2 h2{margin-left:200px;text-align: left;}
.re_tx3 h2{margin-left: 177px;text-align: left;}
.re_tx4 h2{margin-left: 170px;text-align: left;}
.re_tx5 h2{margin-left: 220px;text-align: left;}
.re_tx6 h2{margin-left: 155px;text-align: left;}
.re_tx7 h2{margin-left: 200px;text-align: left;}

/* section2 */
#yunhyuk{
    width: 100%;
    height: 1314px;
    position: relative;
    background-color: #F9F9F9;
}

.yh_text{
    position: absolute;
    left: 13%;
    top: 10%;
}
.yh_text h1{
    font-size: 40px;
}
.yh_text h2{
    font-size: 18px;
    color: #C8C8C8;
}




