html {
  scroll-behavior: smooth;
}
body{
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

/* Navigation */
.nav {
  border: 1px solid #DBDBDB;
  position: sticky; /* 상단 고정 */
  top: 0;
  z-index: 1;
  padding-right: 50px;
  background-color: white;
}
.nav_wrap,
.nav_list,
.button-menu {
  display: flex;
  align-items: center;
}
.nav_wrap {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  height: 80px;
}
.nav_wrap .logo_resoft{
  margin-left: 120px;
  width: 133px;
}
.nav_wrap>div {
  display: flex;
  height: 100%;
}
/* 네비게이션 아이템, 세부메뉴 아이템 공통 속성 */
.nav_list li {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
/* 네비게이션 아이템에만 적용하는 속성
  (해당 아이템에만 적용하기 위해 .nav_list>li 사용) */
.nav_list>li:not(:last-child) {
  padding-right: 60px;
}
.nav_list>li:last-child {
  padding-right: 108px;
}
/* Navigation - Underline */
.pagelink_underline {
  width: 0;
  height: 6px;
  border-radius: 10px;
  background-color: #184B9F;
  opacity: 0;
  transition-property: width opacity;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}
/* 메뉴에 마우스오버하거나 선택된 메뉴일때(.active) 색을 바꿈 */
.nav_pagelink:hover,
.nav_pagelink.active {
  color: #184B9F;
}
/* 메뉴에 마우스오버하거나 선택된 메뉴일때(.active)
   underline의 너비와 투명도를 100%로 설정 */
.nav_pagelink:hover ~ .pagelink_underline,
.nav_pagelink.active ~ .pagelink_underline {
  width: 100%;
  opacity: 100%;
}
/* Navigation - Button menu */
.button-menu {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.button-menu>img {
  width: 32px;
  height: 32px;
}
/* Navigation - Submenu */
.nav_submenu_background {
  position: absolute;
  width: 100%;
  height: 263px;
  background-color: rgba(24, 75, 159, .7);
  opacity: 0;
  visibility: hidden;
  transition-property: visibility opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  color: white;
  font-size: 20px;
  line-height: 29px;
}
.nav_submenu_background li a {
  color: white;
}
.nav_submenu_background li a:hover {
  color: #538ae4;
}
.submenu_title_wrap {
  height: 50px;
  padding-right: 50px;
  border-bottom: 1px solid white;
  display: none;
  /* border: 1px solid black; */
}
.submenu_title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  font-weight: 500;
}
.submenu_sections {
  display: flex;
  justify-content: flex-end;
  max-width: 1440px;
  margin: 10px auto 0;
  padding-right: 50px;
}
.submenu_title li,
.submenu_sections li {
  width: 100%;
  max-width: 134px;
  text-align: left;
}
.submenu_title > li:last-child,
.submenu_sections > li:last-child {
  margin-right: 80px;
}
.submenu_sections_item li {
  height: 32px;
}

/* header */
.top_container{
  position: relative;
  background-image: url(../img/common/header_news.png);
}

/* main */
main {
  padding: 0 50px;
}
#resoft_news {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  /* border: 1px solid black; */
}
/* title */
.title_wrap {
  margin-top: 100px;
}
/* grid */
.news_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 680px));
  column-gap: 5%;
  row-gap: 50px;
  margin: 50px 0 100px;
  width: 100%;
  max-width: 1440px;
}
.news_item {
  /* min-width: 0; */
  /* width: 100%; */
  cursor: pointer;
  transition: all .4s ease 0s;
}
.news_img_wrap {
  border: 1px solid #707070;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  background-color: #1E1E1E;
}
.news_img_wrap img {
  width: 100%;
  transition: transform .6s;
  transition: all .6s;
}
.news_img_wrap img:hover {
  transform: scale(1.2);
  opacity: .5;
}
.news_item .news_text_wrap {
  /* border: 1px solid black; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.news_title {
  width: 100%;
  max-width: 680px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #1E1E1E;
  margin-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.date_text {
  margin-top: 8px;
}

/* button Add */
.news_button_more {
  display: block;
  width: 200px;
  height: 73px;
  border: 1px solid #1E1E1E;
  border-radius: 43px;
  margin: 0 auto 100px;
  background-color: #FFFFFF;
  font-size: 20px;
  transition: all .4s ease-out;
}
.news_button_more:hover {
  background-color: #184B9F;
  color: #FFFFFF;
  transform: scale(1.2);
}

/* news item 리스트 숨김 */
.news_container div.is-hidden {
  display: none;
}

/* footer */
footer {
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  overflow: auto;
  background-color: #E9E9E9;
  color: #9E9E9E;
  padding: 0 50px;
}
.footer_container{
  max-width: 1440px;
  margin: 50px auto;
}
.footer_logo_wrap {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.footer_logo_wrap .logo_resoft{
  width: 200px;
  height: auto;
  margin-right: 20px;
}
.footer_logo_wrap p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer_info_wrap{
  display: flex;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
}
.footer_info_left{
  flex: 1;
  /* margin-left: 158px; */
}
.footer_info_right{
  flex: 1;
  /* margin-left: 158px; */
}

@media screen and (max-width: 1280px) {
  .nav_wrap,
  .submenu_title,
  .submenu_sections,
  #resoft_news {
    max-width: 1000px;
  }
  .nav_wrap .logo_resoft {
    margin-left: 90px;
  }
  .nav_wrap .nav_list>li:last-child {
    padding-right: 60px;
  }
  .submenu_title > li:last-child,
  .submenu_sections > li:last-child {
    margin-right: 32px;
  }
  .footer_info_left{
    /* 사이에 여백 60px 추가 */
    margin-right: 60px;
  }
}
@media screen and (max-width: 768px) {
  /* navigation */
  .nav,
  .submenu_title_wrap,
  .submenu_sections {
    padding-right: 30px;
  }
  /* Navigation - Submenu */
  .submenu_title_wrap {
    display: block;
  }
  /* 중앙정렬 */
  .submenu_title_wrap,
  .submenu_sections {
    padding-right: 0;
  }
  .submenu_title,
  .submenu_sections {
    justify-content: center;
  }
  .submenu_title li,
  .submenu_sections li{
    text-align: left;
  }
  .submenu_title li:last-child,
  .submenu_sections li:last-child {
    margin-right: 0;
  }
  .nav_wrap,
  .submenu_title,
  .submenu_sections,
  #resoft_news {
    max-width: 768px;
  }
  .nav_wrap .logo_resoft {
    margin-left: 32px;
  }
  .nav_wrap .nav_list {
    display: none;
  }
  .nav_wrap .button-menu {
    margin-left: 0;
  }
  /* section */
  main {
    padding: 0 30px;
  }
  /* footer */
  .footer_info_wrap {
    flex-direction: column;
  }
  .footer_logo_wrap p{
    margin-top: 5px;
  }
  .footer_info_left {
    margin: 0 0 30px 0;
  }
}
@media screen and (max-width: 376px) {
  .news_container {
    grid-template-columns: repeat(1, minmax(0, 680px));
  }
}