body{
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

/* header */
/* navigation */
/* 상단 고정 */
.nav {
  position: sticky;
  z-index: 10;
  /* position: fixed; */
  top: 0;
  padding-right: 50px;
  background-color: white;
}
.nav_wrap,
.nav_list,
.button-menu {
  display: flex;
  align-items: center;
}
.nav_wrap {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  height: 80px;
}
.nav_wrap .logo_resoft{
  margin-left: 120px;
  width: 133px;
}
.nav_wrap div {
  display: flex;
  height: 100%;
}
.nav_list li {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.nav_list>li {
  /* padding-left: 60px; */
  padding-right: 60px;
}
.nav_list>li>div:hover {
  color: #184B9F;
  border-bottom: 6px solid #184B9F;
}
.nav_sublist{
  position: absolute;
  top: 80px;
  left: 0px;
  /* right: 0; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* 상세 메뉴 숨김 */
  /* visibility: hidden; */
  display: none;
  z-index: 1;
}
.nav_sublist li a {
  color: white;
}
.nav_submenu_background {
  position: absolute;
  width: 100%;
  height: 263px;
  /* height: 0px; */
  background-color: #184B9FDD;
  /* visibility: visible; */
  display: none;
  transition: 0.4s;
}
.button-menu {
  margin-left: 108px;
}
.button-menu>img {
  width: 32px;
  height: 32px;
}
.nav_wrap .button-menu:hover .nav_sublist{
  /* visibility: visible; */
  border: 1px solid black;
}
.button-menu:hover  {
  /* border: 1px solid black; */
}


/* dropdown menu */
/* #wrapper > nav + div {
  position: absolute;
  left: 0;
  top: 85px;
  width: 100%;
  height: 200px;
  background: rgba(24, 75, 159, .7);
  transition: all 0.5s;
  z-index: -1;
} */

/* top banner */
.top_container{
  background-image: url(../img/common/header_project.png);
}
/* section - 공통*/
.container {
  max-width: 1440px;
  margin: 100px auto 0; /* top left&right bottom*/
  padding: 0 50px;
  /* border: 1px solid blue; */
}

/* section - ecoce */
#section_ecoce {
  overflow: hidden;
}
#section_ecoce>.container {
  /* height: 883px; */
}
.ecoce_content_wrap {
  display: flex;
  justify-content: space-between;
}
.container>p {
  margin-bottom: 54px;
}
/* ecoce left */
.ecoce_background {
  /* overflow: hidden; */
  position: relative;
  /* width: 100%; */
  /* height: 100%; */
  /* max-width: 679px; */
  /* max-height: 592px; */
  /* width: 100%; */
  /* height: 100%; */
  max-width: 100%;
  max-height: 100%;
  width: 679px;
  height: 592px;
  margin-bottom: 153px;
  background-image: url(../img/3page/proj_ecoce_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.image_ecoce_app {
  max-width: 100%;
  position: absolute;
  /* left: 229px; */
  /* top: 58px; */
  left: 35%;
  top: 10%;
}
/* ecoce right */
.ecoce_explain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.text_explain {
  font-weight: 700;
  font-size: 30px;
  text-align: right;
  line-height: 44px;
}
.image_ecoce_logo {
  margin-top: 150px;
  /* width: 452px; */
  /* width: 100%; */
  /* max-width: 500px; */
  max-width: 100%;
}
.ecoce_explain>p {
  font-weight: 700;
  font-size: 22px;
  text-align: right;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 146px;
}
/* download button */
.button_wrap {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  margin-bottom: 131px;
}
/* 검정 버튼 스타일 */
.button-round-black {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 57px;
  padding: 0 20px;
  border-radius: 50px;
  background-color: black;
  color: white;
  line-height: 22px;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}
.button_wrap a {
  width: 189px;
  height: 57px;
  margin-left: 30px;
}
.button_wrap p {
  margin: 0 10px;
}

/* second seciton moado */
#section_moado {
  background: linear-gradient(45deg, #339BE133, transparent 15%),
              linear-gradient(340deg, #E4CDE8, transparent 45%);
  /* border: 1px solid black; */
}
#section_moado .container {
  position: relative;
  /* height: 686px; */
}
.moado_content_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.image_moado_app {
  /* max-width: 850px;
  width: 100%; */
  max-width: 100%;
  margin-bottom: 15%;
}
.image_use_moado {
  /* 왼쪽에서 460px, 오른쪽에서 300px */
  position: absolute;
  left: 56%;
  bottom: 0;
  width: 100%;
  max-width: 680px;
  transform: translate(-50%, 0);
}
/* .moado_content_right p{
  display: flex;
  width: 180px;
  height: 40px;
  padding: 8px;
  margin-left: 30px;
  border-radius: 50px;
  background-color: black;
  border: 1px solid black;
} */
.moado_content_right{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.moado_content_right .logo_moado{
  max-width: 100%;
  margin-top: 150px;
}
.button-moado {
  margin-top: 100px;
  margin-bottom: 218px;
}
.button-moado p {
  padding: 0 10px;
}

/* thrid section - ETC */
#section_etc {
  margin-bottom: 200px;
}
.etc_content_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.etc_content_wrap img {
  /* margin-right: 50px; */
  margin-bottom: 30px;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}

/* footer */
footer {
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  overflow: auto;
  background-color: #E9E9E9;
  color: #9E9E9E;
  padding: 0 50px;
}
.footer_container{
  max-width: 1440px;
  margin: 50px auto;
}
.footer_container .logo_resoft{
  width: 200px;
  height: auto;
}
.footer_container>p{
  display: inline;
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer_info_wrap{
  display: flex;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
}
.footer_wrap_left{
  flex: 1;
  /* margin-left: 158px; */
}
.footer_wrap_right{
  flex: 1;
  /* margin-left: 158px; */
}

@media screen and (max-width: 1440px) {
  /* .moado_content_wrap {
    flex-direction: column-reverse;
    justify-content: flex-end;
  } */
}
@media screen and (max-width: 1280px) {
  .moado_content_wrap {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .nav_wrap {
    max-width: 1000px;
  }
  .nav_wrap .logo_resoft {
    margin-left: 90px;
  }
  .nav_wrap .button-menu {
    margin-left: 80px;
  }
  .container {
    max-width: 1000px;
    /* margin: 0 ; */
  }
  .ecoce_content_wrap{
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .image_use_moado {
    width: 80%;
  }
  .footer_wrap_left{
    /* 사이에 여백 60px 추가 */
    margin-right: 60px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    padding-right: 30px;
  }
  .container {
    padding: 0 30px;
  }
  .nav_wrap {
    max-width: 704px;
  }
  .nav_wrap .logo_resoft {
    margin-left: 32px;
  }
  .nav_wrap .button-menu {
    margin-left: 0;
  }
  .nav_list {
    display: none;
  }
  /* 텍스트 작게 수정, 여백 수정 */
  .text_explain {
    font-size: 25px;
    line-height: 30px;
  }
  .image_ecoce_logo {
    margin-top: 20%;
  }
  .ecoce_explain>p {
    margin-bottom: 20%;
  }
  .button_wrap {
    flex-direction: column;
    margin-bottom: 30%;
  }
  .button_wrap a:first-child {
    margin-bottom: 10px;
  }
  .image_ecoce_app {
    width: 70%;
  }
  .button-moado {
    margin-bottom: 32%;
  }
  .footer_info_wrap {
    flex-direction: column;
  }
  .footer_wrap_left {
    /* 기존에 있는 right값을 없애고 bottom에 30px 추가 */
    margin: 0 0 30px 0;
  }
}
