html {
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

/* Navigation */
/* 상단 고정 */
.nav {
  border: 1px solid #DBDBDB;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-right: 50px;
  background-color: white;
}
.nav_wrap,
.nav_list,
.button-menu {
  display: flex;
  align-items: center;
}
.nav_wrap {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  height: 80px;
  /* border: 1px solid black; */
}
.nav_wrap .logo_resoft{
  margin-left: 120px;
  width: 133px;
}
.nav_wrap div {
  display: flex;
  height: 100%;
}
/* 네비게이션 아이템, 세부메뉴 아이템 공통 속성 */
.nav_list li {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
/* 네비게이션 아이템에만 적용하는 속성
  (해당 아이템에만 적용하기 위해 .nav_list>li 사용) */
.nav_list>li:not(:last-child) {
  padding-right: 60px;
}
.nav_list>li:last-child {
  padding-right: 108px;
}
.nav_list>li>a:hover {
  color: #184B9F;
  border-bottom: 6px solid #184B9F;
}
.nav_list>li>a.active {
  color: #184B9F;
  border-bottom: 6px solid #184B9F;
}
/* Navigation - Button menu */
.button-menu {
  border: none;
  padding: 0;
  background-color: transparent;
}
.button-menu>img {
  width: 32px;
  height: 32px;
}
/* Navigation - Sub menu */
/* .nav_sublist{
  position: absolute;
  top: 80px;
  left: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility opacity;
  transition-duration: 1s;
  transition-timing-function: ease
}
.nav_sublist li a {
  color: white;
}
.nav_sublist li a:hover {
  color: #184B9F;
} */
/* Navigation - New Submenu */
.nav_submenu_background {
  position: absolute;
  width: 100%;
  height: 263px;
  background-color: rgba(24, 75, 159, .7);
  opacity: 0;
  visibility: hidden;
  transition-property: visibility opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  color: white;
  font-size: 20px;
  line-height: 29px;
}
.nav_submenu_background li a {
  color: white;
}
.nav_submenu_background li a:hover {
  color: #538ae4;
}
.submenu_title_wrap {
  height: 50px;
  padding-right: 50px;
  border-bottom: 1px solid white;
  display: none;
}
.submenu_title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  font-weight: 500;
  /* border: 1px solid black; */
}
.submenu_sections {
  display: flex;
  justify-content: flex-end;
  max-width: 1440px;
  margin: 10px auto 0;
  padding-right: 50px;
}
.submenu_title li,
.submenu_sections li {
  width: 100%;
  max-width: 134px;
  text-align: left;
  /* border: 1px solid black; */
}
.submenu_title > li:last-child,
.submenu_sections > li:last-child {
  margin-right: 80px;
}
.submenu_sections_item li {
  height: 32px;
}

/* header */
.top_container{
  position: relative;
  background-image: url(../img/common/header_project.png);
}

/* main */
/* section - 공통*/
.container {
  max-width: 1440px;
  margin: 100px auto 0; /* top left&right bottom*/
  padding: 0 50px;
  /* border: 5px solid blue; */
}

/* First section - ecoce */
#section_ecoce {
  width: auto;
  height: auto;
  overflow: hidden;
  /* border: 5px solid green; */
}
.ecoce_content_wrap {
  display: flex;
  justify-content: space-between;
}
.container>p {
  margin-bottom: 54px;
}
/* ecoce left */
.ecoce_background {
  max-width: 100%;
  /* max-height: 100%; */
  width: 679px;
  /* height: 592px; */
  background-image: url(../img/3page/proj_ecoce_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.image_ecoce_app {
  max-width: 100%;
  margin-top: 8%;
  margin-left: 35%;
}
/* ecoce right */
.ecoce_explain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.text_explain {
  font-weight: 700;
  font-size: 30px;
  text-align: right;
  line-height: 44px;
}
.image_ecoce_logo {
  margin-top: 150px;
  /* width: 452px; */
  /* max-width: 500px; */
  max-width: 100%;
}
.ecoce_explain>p {
  font-weight: 700;
  font-size: 22px;
  text-align: right;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 146px;
}

/* download button */
.button_wrap {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  margin-bottom: 131px;
}
.button_wrap a {
  width: 189px;
  height: 57px;
  margin-left: 30px;
}
.button_wrap p {
  margin: 0 10px;
}
/* 검정 버튼 스타일 */
.button-round-black {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 57px;
  padding: 0 20px;
  border-radius: 50px;
  background-color: black;
  color: white;
  line-height: 22px;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

/* Second seciton - moado */
#section_moado {
  width: auto;
  height: auto;
  overflow: auto;
  background: linear-gradient(45deg, #339BE133, transparent 15%),
              linear-gradient(340deg, #E4CDE8, transparent 45%);
}
#section_moado .container {
  position: relative;
  /* height: 686px; */
}
.moado_content_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.image_moado_app {
  /* max-width: 850px;
  width: 100%; */
  max-width: 100%;
  margin-bottom: 15%;
}
.image_use_moado {
  /* 왼쪽에서 460px, 오른쪽에서 300px */
  position: absolute;
  left: 56%;
  bottom: 0;
  width: 100%;
  max-width: 680px;
  transform: translate(-50%, 0);
}
.moado_content_right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.moado_content_right .logo_moado{
  max-width: 100%;
  margin-top: 150px;
}
.button-moado {
  margin-top: 100px;
  margin-bottom: 218px;
}
.button-moado p {
  padding: 0 10px;
}

/* Third section - ETC */
#section_etc {
  margin-bottom: 200px;
}
.etc_content_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.etc_content_wrap img {
  /* margin-right: 50px; */
  margin-bottom: 30px;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.etc_content_wrap img:not(:last-child) {
  margin-right: 5%;
}

/* footer */
footer {
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  overflow: auto;
  background-color: #E9E9E9;
  color: #9E9E9E;
  padding: 0 50px;
  /* border: 1px solid black; */
}
.footer_container{
  max-width: 1440px;
  margin: 50px auto;
  /* border: 1px solid black; */
}
.footer_logo_wrap {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}
.footer_logo_wrap .logo_resoft{
  width: 200px;
  height: auto;
  margin-right: 20px;
}
.footer_logo_wrap p{
  /* display: inline; */
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer_info_wrap{
  display: flex;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
  /* border: 1px solid green; */
}
.footer_info_left{
  flex: 1;
  /* margin-left: 158px; */
}
.footer_info_right{
  flex: 1;
  /* margin-left: 158px; */
}

@media screen and (max-width: 1280px) {
  .nav_wrap,
  .submenu_title,
  .submenu_sections,
  .container {
    max-width: 1000px;
  }
  .nav_wrap .logo_resoft {
    margin-left: 90px;
  }
  .nav_wrap .nav_list>li:last-child {
    padding-right: 60px;
  }
  .submenu_title > li:last-child,
  .submenu_sections > li:last-child {
    margin-right: 32px;
    /* margin-right: 12%; */
  }
  .ecoce_content_wrap{
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .moado_content_wrap {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .image_use_moado {
    width: 80%;
  }
  .footer_info_left{
    /* 사이에 여백 60px 추가 */
    margin-right: 60px;
  }
}
@media screen and (max-width: 768px) {
  /* navigation */
  .nav,
  .submenu_title_wrap,
  .submenu_sections {
    padding-right: 30px;
  }
  /* Navigation - Submenu */
  .submenu_title_wrap {
    display: block;
  }
  /* 중앙정렬 */
  .submenu_title_wrap,
  .submenu_sections {
    padding-right: 0;
  }
  .submenu_title,
  .submenu_sections {
    justify-content: center;
  }
  .submenu_title li,
  .submenu_sections li{
    text-align: left;
  }
  .submenu_title li:last-child,
  .submenu_sections li:last-child {
    margin-right: 0;
  }
  .nav_wrap,
  .submenu_title,
  .submenu_sections {
    max-width: 768px;
  }
  .nav_wrap .logo_resoft {
    margin-left: 32px;
  }
  .nav_wrap .nav_list {
    display: none;
  }
  .nav_wrap .button-menu {
    margin-left: 0;
  }
  /* .nav_pagelink{
    visibility: hidden;
  } */
  /* section */
  .container {
    padding: 0 30px;
  }
  /* 텍스트 작게 수정, 여백 수정 */
  .text_explain {
    font-size: 25px;
    line-height: 30px;
  }
  .image_ecoce_logo {
    margin-top: 20%;
  }
  .ecoce_explain>p {
    margin-bottom: 20%;
  }
  .button_wrap {
    flex-direction: column;
    margin-bottom: 30%;
  }
  .button_wrap a:first-child {
    margin-bottom: 10px;
  }
  .image_ecoce_app {
    width: 70%;
  }
  .button-moado {
    margin-bottom: 32%;
  }
  /* footer */
  .footer_info_wrap {
    flex-direction: column;
  }
  .footer_logo_wrap p{
    margin-top: 5px;
  }
  .footer_info_left {
    margin: 0 0 30px 0;
  }
}
