@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    text-decoration: none;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, 
output, ruby, section, summary, time, mark, audio, video {
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div {
    display: block;
}

body {
    width: 100%;
    max-width: 100%;
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
}


/*헤더부분*/
.header{
    width: 100%;
    position: relative;
}

.navi{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;

}
#wrap_text a:hover{
    color: #184B9F;
}

#wrap_text {
    position: fixed;
    text-align: end;
    right: 21%;
    font-weight: 700;
}

#wrapper {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 232px 5px;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    z-index: 10;
}

.btn{
    cursor: pointer;
}
.btn_3{
    opacity: 0;
    right: 15%;
    position: absolute;
}

header #wrapper nav > ul > li > a {
    display: block;
    position: relative;
    width: 130px;
    height: 70px;
    font-size: 20px;
    color: white;
    line-height: 63px;
    text-decoration: none;
    top: 0px;
    z-index: 10;
    text-align: center;

    
}

#wrapper > nav + div {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 200px;
    background: rgba(24, 75, 159, .7);
    transition: all 0.5s;
    z-index: -1;
    
}


header #wrapper nav > ul >li {
    display: inline-block;
    position: relative;
    
}

header #wrapper nav > ul ul li {
    line-height: 25px;
    padding-left: 0px;
    width: 101px;
    
}

header #wrapper nav > ul ul a {
    font-size: 20px;
    color: white;
    z-index: 10;
}

header #wrapper nav > ul ul {
    padding-top: 15px;
    position: absolute;
    width: 100%;
    text-align: left;
    height: 230px;
    transition: all 0.5s;
    padding-left: 30px;
    
}
header #wrapper nav > ul ul>.wrap_tx2 a{
    font-size: 20px;
    color: #ffffff;
    
}
header #wrapper nav > ul ul>.wrap_tx2 a:hover{
    color: #184B9F;
}
header #wrapper nav > ul ul> .wrap_tx2 {
    line-height: 25px;
    padding-bottom: 15px;
}
.wrap_tx2 {
    opacity: 0;
    display: none;
}
.img_wrap img{
    position: fixed;
    width: 133px;
    height: 30px;
    
}
.img_wrap1 img{
    position: fixed;
    width: 133px;
    height: 30px;
    
    
}
header .img_wrap1 {
    position: absolute;
    left: 30px;
    top: 25px;
    z-index: 100;
    margin-left: 17.5%;
    height: 30px;
    opacity: 0;
}

header >a {
    position: fixed;
    display: flex;
    right: 15%;
    top: 25px;
    width: 50px;
    z-index: 100;
    
}

header .img_wrap {
    position: absolute;
    left: 30px;
    top: 25px;
    z-index: 100;
    margin-left: 17.5%;
    height: 30px;
    
}

.display img{
    width: 100%;
    height: 900px;
    filter: opacity(0.8) drop-shadow(0 0 0 rgb(0, 0, 0));
    display: block;
    position:relative;
    
}

.display button{
    position:absolute;
    z-index:1;
    top:50%;
    transform:translateY(-50%);
    width:71px;
    height:71px;
    border-radius:100%;
    background:rgba(0,0,0,.5);
    border:none;

}

.display button::before {

    font-family:"xeicon";
    display:block;
    color:#fff;
    font-size:0;
}

.display button.slick-prev {
    top: 780px;
    left: 240px;
    width: 60px;
    height: 40px;
    background:transparent url(../img/icon/ic_prev_wt.png) 0% 0% no-repeat padding-box;
}

.display button.slick-next{
    top: 780px;
    left: 358px;
    width: 60px;
    height: 40px;
    background:transparent url(../img/icon/ic_next_wt.png) 0% 0% no-repeat padding-box;
}

.close{
    opacity: 0; 
    display: none;
}
.more{
    opacity: 1; 
}

.header .banner-wrap {
    height: 100%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.header .bannerText {
    position: absolute;
    padding-bottom: 80px;
    left: 240px;
    top: 462px;
}

.header .bannerText p:first-child {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 35px;
    line-height: 60px;
    text-align: left;
  }
  
  .header .bannerText p:last-child {
    font-weight: 500;
    line-height: 20px;
    font-size: 18px;
  }

  .header .bannerText-wrap {
    color: #ffffff;
  }

.banner_img {
    position: absolute;
    z-index: 1;
}

.header .container .btn_1 .start{
    position: absolute;
    z-index: 1;
    border: none;
    top: 770px;
    left: 315px;
    width: 18px;
    height: 21px;
    background: transparent;
    display: none;
    cursor: pointer;
}

.header .container .btn_1 .stop{
    position: absolute;
    z-index: 1;
    border: none;
    top: 770px;
    left: 315px;
    width: 15px;
    height: 21px;
    background: transparent;
    cursor: pointer;
}


/*section 1*/
#section1{
    width: 100%;
    height: 700px;
    
}
.news{
    position: relative;
    height: 100%;
    background-color: #ffffff;
}
.news_text{
    position: absolute;
    top: 10%;
    left: 12%;
}
.news_text h1{
    font-size: 40px;
}

.news_text h5{
    font-size: 18px;
    color: #C8C8C8;
}

.news_img{
    left: 12%;
    top: 22%;
    position: absolute;
    width:calc(100%/1.15);
}

.news_tag_img{
    display: flex;  
    flex-wrap: wrap;
    
}

.news_tag1, .news_tag2 ,.news_tag3{
    margin:2% 2.5% 0 0;
    padding-right:2.5%;
    border-right: 1px solid #C8C8C8;
    
}

.news_tag1_img{
    overflow: hidden;
    border-radius: 22px;
}

.news_tag2_img{
    overflow: hidden;
    border-radius: 22px;
}

.news_tag3_img{
    overflow: hidden;
    border-radius: 22px;
}

.news_tag4_img{
    overflow: hidden;
    border-radius: 22px;
}

.news_tag4{
    margin:30px 0 0 0;
}


.news_tag_img img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
}

.news_tag_img a:hover img{
    transform: scale(1.2);
    
    
}

.news_tag_img a h2{
    color: #1E1E1E;
    font-size: 18px;
    padding-top: 10px;
    letter-spacing: 0.9px;
    font:bold 18px/26px Noto Sans KR;
}

.news_tag_img a:hover h2{
    color: #184B9F;
}

.news_tag_img a h3{
    color: #AAAAAA;
    font-size: 16px;
    margin-top: 30px;
}

/* section2 */
.section2{
    max-width:100%;
    height: 1147px;; 
    position: relative;
    background-color: #F9F9F9;
}

.pro_text{
    position: absolute;
    text-align: right;
    left: 1220px;
}

.pro_text h1{
    margin-top: 100px;
    font-size: 40px;
}

.pro_text h2{
    font-size: 18px;
    color: #C8C8C8;
    right: 0;
}

.pro_text h3{
    font-size: 26px;
    margin-top: 50px;
    opacity: 1;
}
.pro_text h4{
    position: absolute;
    opacity: 0;
}

.eco{
    left: 240px;
    top: 211px;
    position: absolute;
    width: 534px;
    height:393px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.eco img{
    width: 534px;
    height:393px;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    background-color:#F9F9F9 ;
}


.eco_text:hover img{
    filter: brightness(40%);
    transform: scale(1.2)
    
}


.moa{
    left: 240px;
    top: 654px;
    position: absolute;
    width: 534px;
    height:393px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}


.moa img{
    
    width: 534px;
    height:393px;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    background-image: url(../img/1page/bg_gradation.png);
}

.moa_text:hover img{
    filter: brightness(40%);
    transform: scale(1.2);
}

.moa img:hover img{
    border-radius: 100px;
}

.pro_ani{
    position: absolute;
    top: 371px;
    left: 1000px;
}


.text_1{
    position: absolute;
    visibility:hidden;
    top: 500px;
    left: 270px;
    z-index: 1;
    cursor: pointer;
}



.text_1 h1{
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    
}

.text_1 h2{
    text-align: left;
    font-size: 15px;
    color: #ffffff;
    font-family: none;
    line-height:2
}

.text_2{
    position: absolute;
    visibility:hidden;
    left: 270px;
    top: 970px;
    cursor: pointer;
}

.text_2 h3{
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.text_2 h4{
    text-align: left;
    font-size: 15px;
    color: #ffffff;
    font-family: none;
}

.eco_text:hover{
    opacity:1;
}

.eco_text:hover .text_1{
    visibility:visible;
}

.moa_text:hover{
    opacity:1;
}

.moa_text:hover .text_2{
    visibility:visible;
}
.pro_ani1{
    opacity: 0;
}
#pro_ani2{
    width: 680px; 
    height: 680px;
}
#pro_ani3{
    width: 680px; 
    height: 591px;
    position: absolute;
}
/* section3 */

#section3{
    width: 100%;
    height: 1148px;
    position: relative;
    background-color: #ffffff;
    
}

.ser_text{
    position: absolute;
    text-align: left;
    left: 240px;
    top: 100px;
}

.ser_text h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.ser_text h2{
    font-size: 18px;
    color: #C8C8C8;
    margin-bottom: 50px;
}

.ser_text h3{
    margin-top: 70px;
    font-size: 26px;
}


.img_ser{
    left: 45%;
    position: absolute;
    height: 100%;
}
.img_ser img{
    width: 300px;
    height: 375px;
    border-radius: 20px;
}

.ser_img1:hover{
    transform: scale(1.2)
}
.ser_img1:hover .ser_text1{
    text-indent: 50px;
    opacity: 0;
}
.ser_img1:hover .ser_tx1{
    top: 130px;
    left: 80px;
    opacity: 1;
}

.ser_img2:hover{
    transform: scale(1.2)
}
.ser_img2:hover .ser_text2{
    text-indent: 50px;
    opacity: 0;
}
.ser_img2:hover .ser_tx2{
    top: 130px;
    left: 80px;
    opacity: 1;
}

.ser_img3:hover{
    transform: scale(1.2)
}
.ser_img3:hover .ser_text3{
    text-indent: 50px;
    opacity: 0;
}
.ser_img3:hover .ser_tx3{
    top: 130px;
    left: 80px;
    opacity: 1;
}

.ser_img4:hover{
    transform: scale(1.2)
}
.ser_img4:hover .ser_text4{
    text-indent: 50px;
    opacity: 0;
}
.ser_img4:hover .ser_tx4{
    top: 130px;
    left: 80px;
    opacity: 1;
}

.ser_img1{
    cursor: pointer;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    position: relative;
    left: 50%;
    top: 7%;
    color: #ffffff;
}
.ser_img1 img{
    filter: brightness(40%);
}
.ser_text1 h1,h2{
    position: absolute;
    text-align: center;
}

.ser_text1 h1{
    left: 75px;
    top:150px;
    font-size: 30px;
}
.ser_text1 h2{
    font-size: 15px;
    left: 106px;
    top: 200px;
}
.ser_text1{
    opacity: 1;
    transition: 0.5s;
}


.ser_img2{
    cursor: pointer;
    bottom: 190px;
    left: 170%;
    position: relative;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    color: #ffffff;
}
.ser_img2 img{
    filter: brightness(40%);
}
.ser_text2 h1,h2{
    position: absolute;
}
.ser_text2 h1{
    left: 60px;
    top:150px;
    font-size: 30px;
}
.ser_text2 h2{
    font-size: 15px;
    left: 91px;
    top: 200px;
}
.ser_text2{
    opacity: 1;
    transition: 0.5s;
}

.ser_img3{
    cursor: pointer;
    left: 50%;
    bottom: 200px;
    position: relative;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    color: #ffffff;
}
.ser_img3 img{
    filter: brightness(40%);
}
.ser_text3 h1,h2{
    position: absolute;
}
.ser_text3 h1{
    left: 47px;
    top:150px;
    font-size: 30px;
}
.ser_text3 h2{
    font-size: 15px;
    left: 107px;
    top: 200px;
}
.ser_text3{
    opacity: 1;
    transition: 0.5s;
}

.ser_img4{
    cursor: pointer;
    left: 170%;
    bottom: 500px;
    position: relative;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    color: #ffffff;
}
.ser_img4 img{
    filter: brightness(40%);
}
.ser_text4 h1,h2{
    position: absolute;
}
.ser_text4 h1{
    left: 60px;
    top:150px;
    font-size: 30px;
}
.ser_text4 h2{
    font-size: 15px;
    left: 116px;
    top: 200px;
}
.ser_text4{
    opacity: 1;
    transition: 0.5s;
}

.ser_tx1{
    position: absolute;
    text-align: center;
    top: 130px;
    left: -50px;
    font-size: 18px;
    opacity: 0;
    transition: 0.5s;

}

.ser_tx2{
    position: absolute;
    text-align: center;
    top: 130px;
    left: -50px;
    font-size: 18px;
    opacity: 0;
    transition: 0.5s;
}
.ser_tx3{
    position: absolute;
    text-align: center;
    top: 130px;
    left: -50px;
    font-size: 18px;
    opacity: 0;
    transition: 0.5s;
}
.ser_tx4{
    position: absolute;
    text-align: center;
    top: 130px;
    left: -50px;
    font-size: 18px;
    opacity: 0;
    transition: 0.5s;
}
.ser_ani1{
    opacity: 0;
}

#ser_ani2{
    width: 680px;
    height: 680px;
    top: 33%; 
    left: 13%; 
    position: absolute;
}
#ser_ani3{
    width: 534px; 
    height: 534px;
    position: absolute;
}

/* section4 */
#section4{
    width: 100%;
    height: 1000px;
    background-color: #FFFFFF;
}

.box{
    position: relative;
    top: 100px;
    height: 734px;
}
.box_text{
    position: absolute;
    left: 13%;
}
.box_text h1{
    text-align: left;
    font-size: 40px;
}
.box_text h3{
    text-align: left;
    color: #C8C8C8;
    font-size: 18px;
}

.ico_box>.ico_wrap{
    width: 220px;
    height: 100px;
    margin: 9px;
}
.ico_box{
    position: absolute;
    top: 7%;
    left: 13%;
    cursor: pointer;
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    border-top: medium solid black;
    margin: 70px auto;
    width: calc(100% / 1.3);
}

.ico_wrap{
    position: relative;
    border: 3px solid #DBDBDB ;
    margin: 0;
}

.ico_wrap img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* footer */
#footer{
    width: 100%;
    height: 250px;
    background-color: #E9E9E9;
    position: relative;
}

.fot_img{
    top: 50px;
    left: 240px;
    width: 200px;
    height: 45px;
    position: absolute;
}

.fot_text1{
    color: #9E9E9E;
    font-size: 16px;
    position: absolute;
    text-align: left;
    top: 71px;
    left: 460px;
    font-weight: 300;

}

.fot_text2 h1{
    color: #9E9E9E;
    font-size: 16px;
    position: absolute;
    text-align: left;
    top: 125px;
    left: 240px;
    font-weight: 300;
}
.fot_text2 h2{
    color: #9E9E9E;
    font-size: 16px;
    position: absolute;
    text-align: left;
    top: 125px;
    left: 1000px;
    font-weight: 300;
}
@media screen and (max-width: 1685px){
    /* section2 */
    .pro_ani{
        top: 35%;
        left: 50%;
    }
    .eco{
        left: 13%;
    }
    .moa{
        left: 13%;
    }
}
@media screen and (max-width: 1648px){

    
    #section1{
        height: 1000px;
    }
    .ser_text{
        left: 0;
    }
    .ser_ani{
        position: absolute;
        left: 0;
        top: 33%;
    }
}
@media screen and (max-width: 1547px){

    #section4{
        height: 1300px;
    }
}

@media screen and (max-width: 1476px){

    
    /* section2 */
    .eco{left: 0;}
    .moa{left: 0;}
    .pro_ani{left: 42%;}

    /* section3 */
    .img_ser{
        left: 40%;
    }
    .ser_img2{
        left: 150%;
    }
    .ser_img4{
        left: 150%;
    }
}
@media screen and (max-width: 1280px){
    /* header */
    #wrapper{
        padding: 10px 0;
    }
    
    #wrapper > nav + div{
        top: 80px;
    }
    .img_wrap img{
        right: 75%;
    }
    .header .bannerText{
        left: 140px;
    }
    .display button.slick-prev{
        left: 140px;
    }
    .display button.slick-next{
        left: 258px;
    }
    .header .container .btn_1 .start{
        left: 215px;
    }
    .header .container .btn_1 .stop{
        left: 215px;
    }


    /* section1 */
     #section1{
        height: 1016px;
    }
    .news_text{
        text-align: center;
        left: 34%;
    }
    .news_img{
        width: calc(100% /1.8);
        left: 23%;
        min-width: 550px;
    }
    .news_tag_img{
        flex-wrap: wrap;
        left: 10%;
        height: 650px;
    }
    .news_tag1, .news_tag3{
        margin: 30px 20px 0 0;
        padding-right: 20px;
        position: absolute;
        border: none;
    }
    .news_tag2{
        left: 55%;
        margin: 30px 0 0 0;
        padding-right: 20px;
        position: absolute;
        border: none;
    }
    .news_tag3{
        top: 55%;
    }
    .news_tag4{
        position: absolute;
        top: 55%;
        left: 55%;
    }


    /* section2 */
    .section2{
        height: 1911px;
        background-color: #F9F8FF;
    }
    .pro_text{
        text-align: center;
        left: 30%;
    }
    .pro_text h2{
        right: 33%;
    }
    .pro_text h3{
        opacity: 0;
    }
    .pro_text h4{
        width: 500px;
        font-size: 26px;
        opacity: 1;
        top: 75%;
    }
    .pro_ani{
        opacity: 0;
        top: 0;
        left: 0;
    }
    .pro_ani1{
        position: absolute;
        opacity: 1;
        left: 22%;
        top: 18%;
    }
    #pro_ani3{
        opacity: 1;
    }
    .eco{
        left: 27%;
        top: 50%;
    }
    .eco_text:hover .text_1{
        left: 28%;
        top: 65%;
    }
    .moa{
        left: 27%;
        top: 75%;
    }
    .moa_text:hover .text_2{
        left: 28%;
        top: 92%;
    }

    /* section3 */
    #section3{
        height: 1853px;
        background-color: #F2F6FC;
    }
    .ser_text{
        text-align: center;
        left: 28%;
    }
    .ser_text h2{
        left: 43%;
    }
    .ser_ani{
        opacity: 0;
        left: 0;
        top: 0;
    }
    .ser_ani1{
        position: absolute;
        opacity: 1;
        top: 16%;
        left: 29%;
    }
    .img_ser{
        left: 24%;
        z-index: 1;
    }
    .ser_img1{
        left: 0;
        top: 45%;
    }
    .ser_img2{
        left: 110%;
        top: 32%;
    }
    .ser_img3{
        left: 0;
        top: 27%;
    }
    .ser_img4{
        left: 110%;
        top: 15%;
    }
    #ser_ani2{
        width: 0%;
    }
    /* section4 */
    #section4{
        height: 1634px;
    }
    .box_text{
        position: absolute;
        left: 48%;
    }
    .box_text h3{
        text-align: center;
    }
    .ico_box{
        position: absolute;
        top: 10%;
        left: 18%;
        width: calc(100% / 1.4);
        justify-content: center;
    }

    /* footer */
    .fot_img{
        top: 20%;
        left: 5%;
    }
    .fot_text1{
        top: 28%;
        left: 300px;
    }
    .fot_text2 h1{
        top: 45%;
        left: 5%;
    }
    .fot_text2 h2{
        top: 45%;
        left: 58%;
    }
}

@media screen and (max-width: 1020px){
    #section4{
        height: 2100px;
    }
}
@media screen and (max-width: 870px){
    /* section1 */
    .news_text{
        left:29% ;
    }
    /* section2 */
    .pro_text{
        left: 22%;
    }
    .pro_ani1{
        left: 10%;
    }
    .eco{
        left: 19%;
    }
    .moa{
        left: 19%;
    }
    /* section3 */
    .ser_text{
        left: 19%;
    }
    .ser_ani1{
        left: 19%;
    }
    .img_ser{
        left: 13%;
    }
}
@media screen and (max-width: 830px){
    .news_img{
        left: 18%;
    }
}
@media screen and (max-width: 768px){
    /* header */
    #wrapper{
        padding: 10px 0;
    }
    header .img_wrap{
        left: 1%;
        top: 30%;
    }
    .wrap_tx2{
        opacity: 1;
        display: block;
    }
    .img_wrap img {
        left: 5%;
        margin: 0;
    }
    header #wrapper nav > ul ul{
        padding-left: 0;
        left: 12%;
    }
    header #wrapper nav > ul ul>.wrap_tx2::after{
        position: absolute; 
        content:""; 
        display: block; 
        border-bottom: 1px solid #FFFFFF;
        width: 1000%;
        left: -341%;
        bottom: 78%;
    }
    .nvi{
        left: 60%;
    }
    .img_box{
        overflow: hidden;
        max-width: 100%;
    }
    .display img{
        width: 200%;
    }
    header #wrapper nav > ul > li > a{
        width: 130px;
        visibility: hidden;
    }
    .header .bannerText {
        left: 75px;
    }
    .display button.slick-prev {
        left: 75px;
    }
    .header .container .btn_1 .stop{
        left: 150px;
    }
    .header .container .btn_1 .start{
        left: 150px;
    }
    .display button.slick-next {
        left: 193px;
    }
    header >a{
        right: 3%;
    }

    /* section1 */
    .news_text{
        text-align: left;
        left: 0;
        top: 0;
    }
    .news_img{
        left: 0;
        width: 100%;
        min-width: 400px;
    }
    .news_text h1{
        margin-top: 100px;
        margin-left: 32px;
    }
    .news_text h5{
        margin-left: 32px;
    }
    .news_tag_img{
        width: 100%;
    }
    .news_tag4{
        padding-right: 20px;
    }
    .news_tag_img img{
        width: 100%;   
    }
    .news_tag1, .news_tag3{
        margin: 30px 231px 0 18px;
    }
    /* section2 */
    .pro_text {
        text-align: right;
        left: 0;
        right: 4%;
        
    }
    .pro_text h2 {
        right: 0;
    }
    .pro_text h4 {
        right:0;
    }
    .pro_ani{
        width: 0%;
    }
    .pro_ani1 {
        left: 5%;
        width: 94%;
    }
    #pro_ani2{
        position: absolute;
        width: 0%;
    }
    #pro_ani3{
        width: 100%;
        position: absolute;
    }
    .eco {
        left: 15%;       
        width: 69%;
    }
    .eco img{
        width: 100%;
        height: 100%;
    }
    .moa {
        left: 15%; 
        width: 69%;
    }
    .moa img{
        width: 100%;
        height: 100%;
    }

    /* section3 */
    .ser_text {
        text-align: left;
        left: 5%;
    }
    .ser_text h2 {
        left: 0;
    }
    .ser_ani1{
        left: 15%;
        width: 74%;
    }
    #ser_ani3{
        width: 100%;
    }
    .img_ser {
        left: 5%;
        width: 40%;
    }
    .ser_img2 {  
        left: 127%;
    }
    .ser_img4 {
        left: 127%;
    }
    .ser_img1{
        width: 100%;
    }
    .img_ser img{
        width: 100%;
    }

    .ser_text1 h1{
        left: 24%;
        top: 39%;
        font-size: 190%;
    }
    .ser_text1 h2 {
        font-size: 94%;
        left: 34%;
        top: 53%;
    }
    .ser_tx1{
        font-size: 114%;  
        top: 36%;
        left: -20%;
    }

    /* section4 */
    #section4 {
        height: 1634px;
    }
    .box_text {
        left: 2%;
    }
    .box_text h3 {
        text-align: left;
    }
    .ico_box {
        left: 18px;
        width: 94%;

    }

    /* footer */
    #footer{
        height: 331px;
    }
    .fot_img {
        top: 20%;
        left: 10%;
    }
    .fot_text1 {
        left: 300px;
    }
    .fot_text2 h1 {
        top: 45%;
        left: 10%;
    }
    .fot_text2 h2 {
        top: 75%;
        left: 10%;
    }
}

@media screen and (max-width: 759px){
    #section4 {
        height: 2100px;
    }
}
@media screen and (max-width: 638px){
    .ser_text1 h2{
        top: 61%;
    }
    .ser_text2 h2{
        left: 83px;
        top: 244px;
    }
    .ser_text3 h2{
        left: 76px;
        top: 226px;
    }
    .ser_text4 h2{
        left: 100px;
        top: 227px;
    }
}
@media screen and (max-width: 504px){
    #wrap_text{    
    right: 6%;
    }
}
@media screen and (max-width: 506px){
    #section4 {
        height: 3800px;
    }
}
@media screen and (max-width: 476px){
    .ico_box>.ico_wrap{
        width: 190px;
    }
}

@media screen and (max-width: 430px){
    /* header */
    .img_wrap img{
        width: 100px;
        height: 25px;
        right: -17px;
    }
    header #wrapper nav > ul ul>.wrap_tx2::after{
        bottom: 84%;
    }
    #wrapper > nav + div {
        top: 78px;
        height: 190px;
        width: 100%;
    }
    
    header #wrapper nav > ul ul a{
        font-size: 12px;
    }
    header #wrapper nav > ul ul>.wrap_tx2 a {
        font-size: 20px;
    }
    header #wrapper nav > ul ul {
        padding-top: 0;
    }
    #wrap_text{
        right: 14%;
    }
    .navi{
        width: 100%;
    }
    header #wrapper nav > ul > li > a{
        font-size: 15px; 
        width: 80px;
    }

    .btn{
        right: 2%;
    }

    .header .bannerText{
        left: 26px;
    }
    .header .bannerText p:first-child{
        font-size: 30px;

    }
    .header .bannerText p:last-child{
        font-size: 12px;
    }

    /* section1 */
    #section1 {
        height: 800px;
    }
    .news_text h1{
        margin-left: 10px;
        font-size: 25px;
    }
    .news_text h5{
        margin-left: 10px;
        font-size: 10px;
    }
    .news_img{
        min-width: 300px;
        left: 14px;
        width: 95%;
    }
    .news_tag_img{
        height: 470px;
    }
    .news_tag_img img{
        width: 150px;
        height: 100px;
    }
    .news_tag_img a h2{
        font-size: 9px;
    }
    .news_tag_img a h3{
        font-size: 8px;
        margin-top: 10px;
    }
    .news_tag1, .news_tag3 {
        margin: 30px 172px 0 0;
    }

    /* section2 */
    .section2 {
        height: 1400px;
    }
    .pro_text{
        left: -15%;
    }
    .pro_text h1{
        font-size: 25px;
    }
    .pro_text h2{
        font-size: 10px;
    }
    .pro_text h4{
        font-size: 15px;
    }
    .pro_ani1 {
        top: 23%;
    }
    #pro_ani3{
        width: 100%; 
        height: 300px;
    }
    .eco {
        width: 73%;
        height: 190px;
    }
    .eco img{
        width: 312px;
        height: 190px;
    }
    .text_1 h1{
        font-size: 10px;
    }
    .text_1 h2{
        font-size: 8px;
    }
    .eco_text:hover .text_1 {
        left: 22%;
        top: 59%;
    }

    .moa{
        top: 74%;
        width: 73%;
        height: 190px;
    }
    .moa img{
        width: 312px;
        height: 190px;
    }
    .text_2 h3{
        font-size: 10px;
    }
    .text_2 h4{
        font-size: 8px;
    }
    .moa_text:hover .text_2{
        left: 22%;
        top: 85%;
    }

    /* section3 */
    #section3 {
        height: 1400px;
    }
    .ser_text h1{
        font-size: 25px;
    }
    .ser_text h2{
        font-size: 10px;
    }
    .ser_text h3{
        font-size: 15px;
    }
    .ser_ani1 {
        top: 18%;
    }
    #ser_ani3{
        width: 300px;
        height: 300px;
    }

    .img_ser img{
        width: 150px;
        height: 200px;
    }
    .ser_img1 {
        top: 40%;
    }
    .ser_img3{
        top: 33%;
    }
    .ser_img4{
        top: 26%;
    }

    .ser_img1:hover .ser_tx1 {
        top: 66px;
        left: 37px;
    }
    .ser_tx1{
        top: 60px;
        font-size: 9px;
    }
    .ser_text1 h1{
        left: 26px;
        top: 80px;
        font-size: 18px;
    }
    .ser_text1 h2 {
        font-size: 8px;
        left: 43px;
        top: 110px;
    }

    .ser_tx2{top: 60px;}
    .ser_text2 h1 {
        left: 26px;
        top: 75px;
        font-size: 18px;
    }
    .ser_text2 h2 {
        font-size: 8px;
        left: 43px;
        top: 105px;
    }

    .ser_img2:hover .ser_tx2 {
        top: 75px;
        left: 33px;
        font-size: 9px;
    }

    .ser_text3 h1 {
        left: 24px;
        top: 76px;
        font-size: 15px;
    }
    .ser_text3 h2 {
        font-size: 8px;
        left: 51px;
        top: 105px;
    }
    .ser_tx3{
        top: 60px;
    }
    .ser_img3:hover .ser_tx3 {
        top: 77px;
        left: 34px;
        font-size: 9px;
    }

    .ser_text4 h1{
        left: 31px;
        top: 74px;
        font-size: 15px;
    }
    .ser_text4 h2 {
        font-size: 8px;
        left: 57px;
        top: 103px;
    }
    .ser_tx4{
        top: 60px;
    }
    .ser_img4:hover .ser_tx4 {
        top: 73px;
        left: 34px;
        font-size: 9px;
    }

    /* section4 */
    #section4 {
        height: 2100px;
    }
    .ico_box>.ico_wrap {
        width: 165px;
        height: 100px;
    }
    .ico_wrap img{
        width: 87%;
    }
    .ico_box {
        left: 0%;
    }

    /* footer */
    .fot_img {
        top: 9%;
        left: 8%;
    }
    .fot_text1 {
        left: 7%;
        font-size: 11px;
    }
    .fot_text2 h1 {
        top: 41%;
        left: 7%;
        font-size: 11px;

    }
    .fot_text2 h2 {
        top: 70%;
        left: 7%;
        font-size: 11px;
    }
}