@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    text-decoration: none;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, 
output, ruby, section, summary, time, mark, audio, video {
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div {
    display: block;
}

body {
    width: 1920px;
    line-height: 1;
    max-width:100%;
    font-family: 'Noto Sans KR', sans-serif;
}


/*헤더부분*/
.header{
    width: 100%;
    position: relative;
}

#wrap_text a:hover{
    color: blue;
}

#wrap_text {
    text-align: end;
    padding-right: 5%;
}

#wrapper {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 232px 5px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    z-index: 10;
    
}

header #wrapper nav > ul > li > a {
    display: block;
    position: relative;
    width: 160px;
    height: 70px;
    font-size: 20px;
    color: white;
    line-height: 70px;
    text-decoration: none;
    top: 0px;
    z-index: 10;
    text-align: center;

    
}

#wrapper > nav + div {
    position: absolute;
    left: 0;
    top: 85px;
    width: 100%;
    height: 200px;
    background: rgba(24, 75, 159, .7);
    transition: all 1s;
    z-index: -1;
}


header #wrapper nav > ul >li {
    display: inline-block;
    position: relative;
}

header #wrapper nav > ul ul li {
    line-height: 25px;
    padding-left: 0px;
}

header #wrapper nav > ul ul a {
    font-size: 20px;
    color: white;
    z-index: 10;
}

header #wrapper nav > ul ul {
    padding-top: 15px;
    position: absolute;
    width: 100%;
    text-align: left;
    height: 230px;
    transition: all 0.5s;
    padding-left: 40px;
}

.img_wrap img{
    width: 133px;
    height: 30px;
}

header >a {
    position: absolute;
    display: flex;
    right: 10%;
    top: 30px;
    width: 50px;
    z-index: 100;
}

header .img_wrap {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 100;
    margin-left: 20%;
    height: 30px;
}

header .container .display img{
    width: 100%;
    height: 900px;
    filter: opacity(0.8) drop-shadow(0 0 0 rgb(0, 0, 0));
    display: block;
    position:relative;
}

.display button{
    position:absolute;
    z-index:1;
    top:50%;
    transform:translateY(-50%);
    width:71px;
    height:71px;
    border-radius:100%;
    background:rgba(0,0,0,.5);
    border:none;

}

.display button::before {

    font-family:"xeicon";
    display:block;
    color:#fff;
    font-size:0;
}

.display button.slick-prev {
    top: 780px;
    left: 240px;
    width: 60px;
    height: 40px;
    background:transparent url(../img/icon/ic_prev_wt.png) 0% 0% no-repeat padding-box;
}

.display button.slick-next{
    top: 780px;
    left: 358px;
    width: 60px;
    height: 40px;
    background:transparent url(../img/icon/ic_next_wt.png) 0% 0% no-repeat padding-box;
}

.close{
    opacity: 0; 
    display: none;

}
.more{
    opacity: 1;

    
}

.header .banner-wrap {
    height: 100%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.header .bannerText {
    position: absolute;
    padding-bottom: 80px;
    left: 240px;
    top: 462px;
}

.header .bannerText p:first-child {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 35px;
    line-height: 60px;
    text-align: left;
  }
  
  .header .bannerText p:last-child {
    font-weight: 500;
    line-height: 20px;
    font-size: 18px;
  }

  .header .bannerText-wrap {
    color: #ffffff;
  }

.banner_img {
    position: absolute;
    z-index: 1;
}

.header .container .btn_1 .start{
    position: absolute;
    z-index: 1;
    border: none;
    top: 770px;
    left: 315px;
    width: 18px;
    height: 21px;
    background: transparent;
    display: none;
    cursor: pointer;
}

.header .container .btn_1 .stop{
    position: absolute;
    z-index: 1;
    border: none;
    top: 770px;
    left: 315px;
    width: 15px;
    height: 21px;
    background: transparent;
    cursor: pointer;
}


/*section 1*/
#section1{
    width: 100%;
    position: relative;
    height: 700px;
}
.news{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.news_text{
    position: absolute;
}
.news_text h1{
    font-size: 40px;
    margin-top: 80px;
    margin-left: 240px;
}

.news_text h5{
    margin-left: 240px;
    font-size: 18px;
    color: #C8C8C8;
}

.news_img{
    left: 240px;
    top: 200px;
    position: absolute;
    
}

.news_tag_img{
    display: flex;  
    position: absolute;   
}

.news_tag1, .news_tag2 ,.news_tag3{
    margin:30px 50px 0 0;
    padding-right:50px;
    border-right: medium solid #C8C8C8;
}

.news_tag1_img{
    overflow: hidden;
    border-radius: 22px;
}

.news_tag2_img{
    overflow: hidden;
    border-radius: 22px;
}

.news_tag3_img{
    overflow: hidden;
    border-radius: 22px;
}

.news_tag4_img{
    overflow: hidden;
    border-radius: 22px;
}

.news_tag4{
    margin:30px 100px 0 0;
}


.news_tag_img img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
}

.news_tag_img a:hover img{
    transform: scale(1.2)
    
    
}

.news_tag_img a h2{
    color: #1E1E1E;
    font-size: 18px;
}

.news_tag_img a:hover h2{
    color: blue;
}

.news_tag_img a h3{
    color: #AAAAAA;
    font-size: 16px;
    margin-top: 30px;
}

/* section2 */
.section2{
    width:100%;
    height: 1147px;; 
    position: relative;
    background-color: #F9F9F9;
}

.pro_text{
    position: absolute;
    text-align: right;
    left: 1220px;
}

.pro_text h1{
    margin-top: 100px;
    font-size: 40px;
}

.pro_text h2{
    font-size: 18px;
    color: #C8C8C8;
    right: 0;
}

.pro_text h3{
    font-size: 26px;
    margin-top: 50px;
}

.eco{
    left: 240px;
    top: 211px;
    position: absolute;
    width: 534px;
    height:393px;
    overflow: hidden;
    border-radius: 90px;
}

.eco img{
    width: 534px;
    height:393px;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    background-color:#F9F9F9 ;
}


.eco img:hover{
    filter: brightness(40%);
    transform: scale(1.2)
    
}


.moa{
    left: 240px;
    top: 654px;
    position: absolute;
    width: 534px;
    height:393px;
    overflow: hidden;
    border-radius: 90px;
}


.moa img{
    width: 534px;
    height:393px;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    background-image: url(../img/1page/bg_gradation.png);
}

.moa img:hover{
    filter: brightness(40%);
    transform: scale(1.2)
}

.moa img:hover img{
    border-radius: 100px;
}

.pro_ani{
    position: absolute;
    top: 371px;
    left: 1000px;
}

.eco_text{
    position:relative;
}

.text_1{
    position: absolute;
    visibility:hidden;
    top: 520px;
    left: 270px;
}



.text_1 h1{
    font-size: 20px;
    color: #ffffff;
    
}

.text_1 h2{
    font-size: 15px;
    color: #ffffff;
}

.text_2{
    position: absolute;
    visibility:hidden;
    left: 270px;
    top: 970px;
}

.text_2 h3{
    font-size: 20px;
    color: #ffffff;
}

.text_2 h4{
    font-size: 15px;
    color: #ffffff;
}

.eco_text:hover{
    opacity:1;
}

.eco_text:hover .text_1{
    visibility:visible;
}

.moa_text:hover{
    opacity:1;
}

.moa_text:hover .text_2{
    visibility:visible;
}

/* section3 */

#section3{
    width: 100%;
    height: 1148px;
    position: relative;
    background-color: #ffffff;
    
}

.ser_text{
    position: absolute;
    text-align: left;
    left: 240px;
    top: 100px;
}

.ser_text h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.ser_text h2{
    font-size: 18px;
    color: #C8C8C8;
    margin-bottom: 50px;
}

.ser_text h3{
    margin-top: 70px;
    font-size: 26px;
}


.img_ser{
    position: absolute;
    height: 100%;
}
.img_ser img{
    width: 300px;
    height: 375px;
    border-radius: 20px;
}

.ser_img1:hover{
    transform: scale(1.2)
}
.ser_img1:hover .ser_text1{
    text-indent: 50px;
    opacity: 0;
}
.ser_img1:hover .ser_tx1{
    top: 130px;
    left: 80px;
    opacity: 1;
}

.ser_img2:hover{
    transform: scale(1.2)
}
.ser_img2:hover .ser_text2{
    text-indent: 50px;
    opacity: 0;
}
.ser_img2:hover .ser_tx2{
    top: 130px;
    left: 80px;
    opacity: 1;
}

.ser_img3:hover{
    transform: scale(1.2)
}
.ser_img3:hover .ser_text3{
    text-indent: 50px;
    opacity: 0;
}
.ser_img3:hover .ser_tx3{
    top: 130px;
    left: 80px;
    opacity: 1;
}

.ser_img4:hover{
    transform: scale(1.2)
}
.ser_img4:hover .ser_text4{
    text-indent: 50px;
    opacity: 0;
}
.ser_img4:hover .ser_tx4{
    top: 130px;
    left: 80px;
    opacity: 1;
}

.ser_img1{
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    position: relative;
    left: 1000px;
    top: 100px;
    color: #ffffff;
}
.ser_img1 img{
    filter: brightness(40%);
}
.ser_text1 h1,h2{
    position: absolute;
    text-align: center;
}

.ser_text1 h1{
    left: 75px;
    top:150px;
    font-size: 30px;
}
.ser_text1 h2{
    font-size: 15px;
    left: 100px;
    top: 200px;
}
.ser_text1{
    opacity: 1;
    transition: 0.5s;
}


.ser_img2{
    bottom: 190px;
    left: 1380px;
    position: relative;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    color: #ffffff;
}
.ser_img2 img{
    filter: brightness(40%);
}
.ser_text2 h1,h2{
    position: absolute;
}
.ser_text2 h1{
    left: 60px;
    top:150px;
    font-size: 30px;
}
.ser_text2 h2{
    font-size: 15px;
    left: 115px;
    top: 200px;
}
.ser_text2{
    opacity: 1;
    transition: 0.5s;
}

.ser_img3{
    left: 1000px;
    bottom: 200px;
    position: relative;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    color: #ffffff;
}
.ser_img3 img{
    filter: brightness(40%);
}
.ser_text3 h1,h2{
    position: absolute;
}
.ser_text3 h1{
    left: 60px;
    top:150px;
    font-size: 30px;
}
.ser_text3 h2{
    font-size: 15px;
    left: 95px;
    top: 200px;
}
.ser_text3{
    opacity: 1;
    transition: 0.5s;
}

.ser_img4{
    left: 1380px;
    bottom: 500px;
    position: relative;
    margin: 0 auto;
    transition: all 0.2s linear;
    opacity: 1;
    color: #ffffff;
}
.ser_img4 img{
    filter: brightness(40%);
}
.ser_text4 h1,h2{
    position: absolute;
}
.ser_text4 h1{
    left: 60px;
    top:150px;
    font-size: 30px;
}
.ser_text4 h2{
    font-size: 15px;
    left: 115px;
    top: 200px;
}
.ser_text4{
    opacity: 1;
    transition: 0.5s;
}

.ser_tx1{
    position: absolute;
    text-align: center;
    top: 130px;
    left: -50px;
    font-size: 18px;
    opacity: 0;
    transition: 0.5s;

}

.ser_tx2{
    position: absolute;
    text-align: center;
    top: 130px;
    left: -50px;
    font-size: 18px;
    opacity: 0;
    transition: 0.5s;
}
.ser_tx3{
    position: absolute;
    text-align: center;
    top: 130px;
    left: -50px;
    font-size: 18px;
    opacity: 0;
    transition: 0.5s;
}
.ser_tx4{
    position: absolute;
    text-align: center;
    top: 130px;
    left: -50px;
    font-size: 18px;
    opacity: 0;
    transition: 0.5s;
}

/* section4 */
#section4{
    width: 100%;
    height: 1000px;
    background-color: #FFFFFF;
}

.box{
    position: relative;
    top: 100px;
    width: 1440px;
    height: 734px;
}

.box_text h1{
    text-align: left;
    font-size: 40px;
}
.box_text h3{
    text-align: left;
    color: #C8C8C8;
    font-size: 18px;
}

.ico_box>.ico_wrap{
    width: 220px;
    height: 100px;
    margin: 9px;
}
.ico_box{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    border-top: medium solid black;
    margin: 70px auto;
}

.ico_wrap{
    position: relative;
    border: 3px solid #DBDBDB ;
    width: calc(100% / 6);
    margin: 0;
}

.ico_wrap img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* footer */
#footer{
    width: 100%;
    height: 250px;
    background-color: #E9E9E9;
    position: relative;
}

.fot_img{
    top: 50px;
    left: 240px;
    width: 200px;
    height: 45px;
    position: absolute;
}

.fot_text1{
    color: #9E9E9E;
    font-size: 16px;
    position: absolute;
    text-align: left;
    top: 71px;
    left: 460px;

}

.fot_text2 h1{
    color: #9E9E9E;
    font-size: 16px;
    position: absolute;
    text-align: left;
    top: 125px;
    left: 240px;
}
.fot_text2 h2{
    color: #9E9E9E;
    font-size: 16px;
    position: absolute;
    text-align: left;
    top: 125px;
    left: 1000px;
}
